* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #8c96ae;
  background-image: url("/image2vector.svg");
  background-repeat: repeat;
  background-size: 50px 50px; /* Ajusta el tamaño del patrón */
  animation: moveBackground 10s linear infinite; /* Opción para animación */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* (Opcional) Animación de desplazamiento */
@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50px 50px;
  }
}


/* Login Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: linear-gradient(135deg, #8782ad, #a29bfe);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  color: white;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

/* Input Fields */
.input-field {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.input-field:focus {
  border-color: #130475;
  outline: none;
}

/* Buttons */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: #312398;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
  background-color: #312398;
}

/* Sign Up Link */
.signup-link {
  margin-top: 15px;
}

.signup-button {
  background: none;
  color: #1100ff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.signup-button:hover {
  color: #000000;
}

.signup-link p {
  margin-bottom: 8px;
  font-size: 14px;
}